<div class="text-center">
<p class="text-xl font-bold"><%= "Link" %></p>
<div class="mb-4"><%= @link.link %></div>
<p class="text-xl font-bold"><%= "Shortlink" %></p>
<div class="mb-4"><%= @link.shortlink %></div>
<p class="mb-4"><%= "Visit Count: #{@link.visit_count}"%></p>
</div>
<table class="mx-auto table-auto ring-2 ring-black rounded-md border-neutral-800 border-double my-4 divide-y divide-black">
	<thead>
		<th class="text-center p-2">Visitor IP</th>
	</thead>
	<tbody>
		<% @link.visitors.each do |visitor| %></p>
		<tr>
		<td class="text-center p-2 hover:bg-slate-200"><%= "#{visitor.ip_address}" %></td>
		</tr>
		<% end %>
	</tbody>
</table>