<!DOCTYPE html>
<html>
  <head>
    <title>Shortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="ring-2 max-w-fit mx-auto mt-12 rounded-md p-10 py-2 px-40 shadow-2xl shadow-slate-900">
		<% flash.each do |type, msg| %>
			<div>
				<%= msg %>
			</div>
  	<% end %>
		<% the_class = 'rounded-md shadow-xl mx-auto scale-50 -mt-8'%>
		<%= image_tag "Logo.png", class: the_class %>
    <%= yield %>
  </body>
</html>
